{% extends 'base.html' %}
{% load static %}
{% block body %}
<main class="container">
    <div class="bg-light p-5 rounded">
      <h1>Q example</h1>
      <br />
      <table class="table table-primary table-striped">
          <thead>
              <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Title</th>
                  <th scope="col">Status</th>
              </tr>
          </thead>
          <tbody>
              {% for i in q1 %}
            <tr>
              <th scope="row">{{forloop.counter}})</th>
              <td>{{i.title}}</td>
              <td>{{i.status}}</td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
      <br />
      <table class="table table-secondary table-striped">
          <thead>
              <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Title</th>
                  <th scope="col">Status</th>
              </tr>
          </thead>
          <tbody>
              {% for i in q2 %}
              <tr>
                  <th scope="row">{{forloop.counter}})</th>
                  <td>{{i.title}}</td>
                  <td>{{i.status}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      <br />
      <h1>Q Queries Result</h1>
      <br /> 
      <table class="table table-success table-hover">
          <thead>
              <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Title</th>
                  <th scope="col">Status</th>
              </tr>
          </thead>
          <tbody>
              {% for i in q3 %}
            <tr>
              <th scope="row">{{forloop.counter}})</th>
              <td>{{i.title}}</td>
              <td>{{i.status}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>  
    </div>
  </main>
{% endblock body %}